@page
@model MovieAward.Pages.IndexModel
@{
    ViewData["Title"] = "MovieAward";
}

<div class="text-center">
    <h1 class="display-4">Search movie here...</h1>
    <p>Or visit <a href="/Saved">Saved</a> movies.</p>
</div>

